#container {
	display:grid;
        grid-template-columns: 1fr 1fr;
}

#container div {
	height:100vh;
	padding:.5rem;
}

#container div pre {
	height:80vh;
	border:solid thin;
	overflow: scroll;
}

#submit {
	display:block;
	float:right;
}

#feedback {
	padding: 1rem;
}
